<template>
  <div>
    <info-banner>
    </info-banner>

    <template v-if="!loaded">
      <v-progress-circular
        indeterminate
        color="primary"
        class="loading"
      />
    </template>

    <template v-if="error">
      <error>
        <p>{{ error }}</p>
      </error>
    </template>

    <template v-if="loaded && !error">
      <v-container fluid>
        <template
          v-for="(group, idx) in groups"
        >
          <daily-group
            ref="groups"
            :key="group.id"
            :data="dailies[group.id]"
            :card-aspect-ratio="displaySettings[group.id].aspectRatio"
            :card-width="displaySettings[group.id].width"
            :copyable="displaySettings[group.id].copyable"
          />
          <v-divider
            v-if="idx != groups.length - 1"
            :key="group.id.toString() + '-divider'"
            class="row-divider"
          />
        </template>
        <!--suppress CheckEmptyScriptTag -->
        <div class="bottom-spacer" />

        <template v-if="groups.length === 0">
          <error>
            <p>You turned everything off, so there's nothing here.</p>
            <p>Go turn something back on.</p>
            <v-btn @click="$root.$emit('show-settings')">
              Settings
            </v-btn>
          </error>
        </template>
      </v-container>
    </template>
  </div>
</template>

<script>
import * as clipboard from 'clipboard-polyfill'
import { captureException } from '@sentry/browser'
import { loadFractalDailies, loadPveDailies, loadPvpDailies, loadStrikeDailies, loadWvwDailies } from '../lib/dailyLoader'
import { DailyGroup } from '../lib/settings'

import DailyGroupC from './DailyGroup.vue'
import Error from './ErrorPage.vue'
import InfoBanner from './InfoBanner.vue'

export default {
  components: {
    DailyGroup: DailyGroupC,
    Error,
    InfoBanner
  },

  props: {
    url: { type: String, required: true },
    date: { type: String, required: true }
  },

  data () {
    return {
      displaySettings: {
        [DailyGroup.PVE]: {
          aspectRatio: 2,
          width: 3,
          copyable: true
        },
        [DailyGroup.FRACTALS]: {
          aspectRatio: 3,
          width: 4,
          copyable: false
        },
        [DailyGroup.PVP]: {
          aspectRatio: 2.5,
          width: 3,
          copyable: false
        },
        [DailyGroup.WVW]: {
          aspectRatio: 2.5,
          width: 3,
          copyable: false
        },
        [DailyGroup.STRIKES]: {
          aspectRatio: 15,
          width: 12,
          copyable: false
        }
      },
      rawData: {},
      loaded: false,
      error: ''
    }
  },

  computed: {
    dailies () {
      const settings = this.$root.settings

      return {
        [DailyGroup.PVE]: loadPveDailies(settings, this.rawData),
        [DailyGroup.FRACTALS]: loadFractalDailies(this.rawData),
        [DailyGroup.PVP]: loadPvpDailies(settings, this.rawData),
        [DailyGroup.WVW]: loadWvwDailies(settings, this.rawData),
        [DailyGroup.STRIKES]: loadStrikeDailies(this.date)
      }
    },

    groups () {
      return this.$root.settings.categories.filter((o) => o.enabled)
    }
  },

  async created () {
    this.loaded = false
    this.error = ''

    try {
      const response = await fetch(this.url + '?v=latest')
      this.rawData = await response.json()
    } catch (err) {
      this.error = err.toString()
      captureException(err)
    }

    this.loaded = true
  },

  methods: {
    async copyAll () {
      const result = ['', '# Today\'s dailies:']

      this.$refs.groups.filter((g) => g.copyable).forEach(
        (g) => g.$refs.cards.forEach((c) => result.push(c.clipboardText))
      )

      result.push('')
      result.push('-- http://gw2.tools/')

      try {
        await clipboard.writeText(result.join('\n'))
        this.$root.$emit('show-snackbar', { message: 'Copied to clipboard' })
      } catch {
        this.$root.$emit('show-snackbar', { message: 'Failed to copy to clipboard' })
      }
    }
  }
}
</script>

<style scoped>
.row-divider {
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 15px;
  margin-bottom: 12px;
}

.bottom-spacer {
  margin-bottom: 32px;
}

.loading {
  width: 100% !important;
  margin-top: 50px !important;
}
</style>
