<!-- eslint-disable vue/no-v-html -->

<template>
  <v-hover
    :disabled="data.simple"
  >
    <template #default="{ hover }">
      <v-card
        :elevation="hover ? 12 : 2"
        v-on="data.simple ? {} : {click: copyToClipboard}"
      >
        <v-img
          :src="artLink"
          :aspect-ratio="aspectRatio"
          :class="greyOut ? 'grey-out' : ''"
        >
          <v-row
            align="end"
            class="fill-height ma-0"
          >
            <span class="card-title">
              {{ data.title }}
              <v-spacer />
              <span
                v-if="restrictionText"
                class="card-subtitle"
              >
                {{ restrictionText }}
              </span>
            </span>
          </v-row>
        </v-img>

        <v-list
          v-if="!data.simple"
          two-line
          subheader
        >
          <v-list-item v-if="waypoint">
            <v-list-item-avatar>
              <v-icon>layers</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{ waypoint.title }}</v-list-item-title>
              <v-list-item-subtitle>{{ waypoint.chatlink }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-list-item v-if="poi">
            <v-list-item-avatar>
              <v-icon>location_on</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{ poi.title }}</v-list-item-title>
              <v-list-item-subtitle>{{ poi.chatlink }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-list-item v-if="vista">
            <v-list-item-avatar>
              <v-icon>filter_hdr</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{ vista.title }}</v-list-item-title>
              <v-list-item-subtitle>{{ vista.chatlink }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-list-item v-if="timer">
            <v-list-item-avatar>
              <v-icon>timer</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>
                <boss-timer
                  :start-time="timer.start_time"
                  :repeat-time="timer.repeat_time"
                />
              </v-list-item-title>
              <v-list-item-subtitle v-if="data.show_timer_title">
                {{ data.timer }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-card-text v-if="data.hints">
          <p
            v-for="hint in data.hints"
            :key="hint"
            class="text--primary"
            v-html="hint"
          />
        </v-card-text>
      </v-card>
    </template>
  </v-hover>
</template>

<script>
import * as clipboard from 'clipboard-polyfill'
import { AccessLevel } from '../lib/dailyLoader'

import BossTimer from './BossTimer.vue'

import POIS from '../lib/data/pve/points_of_interest.json'
import TIMERS from '../lib/data/pve/boss_timers.json'
import VISTAS from '../lib/data/pve/vistas.json'
import WAYPOINTS from '../lib/data/pve/waypoints.json'

import { makeMapLink } from '../lib/chatLink'
import { DateTime } from 'luxon'
import { nextSpawn } from '../lib/bossTimer'

const ASSETS = import.meta.globEager('../assets/*.jpg')

export default {
  components: {
    BossTimer
  },

  props: {
    data: { type: Object, required: true },
    aspectRatio: { type: Number, default: 2 },
    greyOut: { type: Boolean, default: false }
  },

  computed: {
    artLink () {
      return ASSETS[`../assets/${this.data.art}.jpg`].default
    },

    restrictionText () {
      function formatLevel (level) {
        if (level.min === level.max) {
          return level.min.toString()
        } else {
          return level.min.toString() + '-' + level.max.toString()
        }
      }

      function formatRestriction (r) {
        let text = ''

        if (r.level.min !== 1 || r.level.max !== 80) {
          text += 'level\xa0' + formatLevel(r.level)
        }

        if (r.accessLevel === AccessLevel.POF_ONLY) {
          text += '\xa0(PoF)'
        } else if (r.accessLevel === AccessLevel.HOT_ONLY) {
          text += '\xa0(HoT)'
        } else if (r.accessLevel === AccessLevel.NOT_POF) {
          text += '\xa0(no PoF)'
        } else if (r.accessLevel === AccessLevel.NOT_HOT) {
          text += '\xa0(no HoT)'
        }

        return text
      }

      const restrictions = this.data.restrictions

      if (restrictions === undefined) {
        return null
      }

      return restrictions.map(formatRestriction).join(', ')
    },

    waypoint () {
      const id = this.data.waypoint

      if (id === undefined) {
        return null
      }

      return {
        title: WAYPOINTS[id] || 'Unknown waypoint',
        chatlink: makeMapLink(id)
      }
    },

    poi () {
      const id = this.data.poi

      if (id === undefined) {
        return null
      }

      return {
        title: POIS[id] || 'Unknown PoI',
        chatlink: makeMapLink(id)
      }
    },

    vista () {
      const id = this.data.vista

      if (id === undefined) {
        return null
      }

      return {
        title: VISTAS[id] || 'Unknown vista',
        chatlink: makeMapLink(id)
      }
    },

    timer () {
      const name = this.data.timer

      if (name === undefined) {
        return null
      }

      return TIMERS[name]
    },

    clipboardText () {
      const data = this.data

      if (data.simple) {
        return null
      }

      let result = ''

      if (this.restrictionText) {
        result += '(' + this.restrictionText + ') '
      }

      result += data.title

      if (this.waypoint) {
        result += ' > ' + this.waypoint.chatlink
      }

      if (this.poi) {
        result += ' > ' + this.poi.chatlink
      }

      if (this.vista) {
        result += ' > ' + this.vista.title + ' ' + this.vista.chatlink
      }

      if (this.timer) {
        result += ' (' + (
          nextSpawn(
            DateTime.utc(),
            this.timer.start_time,
            this.timer.repeat_time
          )
            .diff(DateTime.utc())
            .toFormat('in hh:mm')
        ) + ')'
      }

      return result
    }
  },

  methods: {
    async copyToClipboard () {
      if (this.data.simple) {
        return
      }

      try {
        await clipboard.writeText(this.clipboardText)
        this.$root.$emit('show-snackbar', { message: 'Copied to clipboard' })
      } catch {
        this.$root.$emit('show-snackbar', { message: 'Failed to copy to clipboard' })
      }
    }
  }
}
</script>

<style scoped>
* {
  user-select: none;
}

.card-title {
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  padding: 16px 24px;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.card-subtitle {
  padding-left: 8px;
  font-size: 1rem;
  font-weight: 300;
  flex-shrink: 0;
  align-self: center;
}

.grey-out {
  filter: grayscale(100%);
}
</style>
