<template>
  <div class="error-container">
    <section>
      <v-icon>
        error_outline
      </v-icon>
      <h4>Error</h4>
      <slot />
    </section>
  </div>
</template>

<script>
export default {}
</script>

<style>
.error-container {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.error-container i {
  font-size: 72pt;
}
</style>
