<template>
    <v-alert color="yellow" type="warning" text dismissible>
        <strong>Note:</strong> The API is back up, but returning out of date information. We're investigating. Expect more banners.
    </v-alert>
</template>

<style scoped>
.v-alert {
    border-radius: 0 !important;
}
</style>
