<template>
  <v-card>
    <v-card-title>
      <span class="text-h5">
        Settings
      </span>
    </v-card-title>
    <v-card-text>
      <v-list
        two-line
        subheader
      >
        <v-subheader>General settings</v-subheader>
        <v-list-item @click="dark = !dark">
          <v-list-item-action>
            <v-checkbox
              v-model="dark"
              @click.prevent
            />
          </v-list-item-action>

          <v-list-item-content @click.prevent>
            <v-list-item-title>Dark theme</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-radio-group v-model="displayMode.active">
          <v-list-item
            v-for="option in displayMode.options"
            :key="option.id"
            @click="displayMode.active = option.id"
          >
            <v-list-item-action>
              <v-radio :value="option.id" />
            </v-list-item-action>

            <v-list-item-content @click.prevent>
              <v-list-item-title>{{ option.title }}</v-list-item-title>
              <v-list-item-subtitle>{{ option.subtitle }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-radio-group>
      </v-list>

      <v-list subheader>
        <v-subheader>Available expansions</v-subheader>
        <v-list-item @click="accountAccess.hot = !accountAccess.hot">
          <v-list-item-action>
            <v-checkbox
              v-model="accountAccess.hot"
              @click.prevent
            />
          </v-list-item-action>

          <v-list-item-content @click.prevent>
            <v-list-item-title>Heart of Thorns</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item @click="accountAccess.pof = !accountAccess.pof">
          <v-list-item-action>
            <v-checkbox
              v-model="accountAccess.pof"
              @click.prevent
            />
          </v-list-item-action>

          <v-list-item-content @click.prevent>
            <v-list-item-title>Path of Fire</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item @click="accountAccess.eod = !accountAccess.eod">
          <v-list-item-action>
            <v-checkbox
              v-model="accountAccess.eod"
              @click.prevent
            />
          </v-list-item-action>

          <v-list-item-content @click.prevent>
            <v-list-item-title>End of Dragons</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-subheader>Maximum character level</v-subheader>
        <v-list-item>
          <v-slider
            v-model="accountAccess.maxCharLevel"
            min="1"
            max="80"
            :label="accountAccess.maxCharLevel.toString()"
          />
        </v-list-item>
      </v-list>

      <v-list subheader>
        <v-subheader>Categories and ordering</v-subheader>
        <draggable
          v-model="categories.options"
          handle=".handle"
          ghost-class="ghost"
        >
          <v-list-item
            v-for="option in categories.options"
            :key="option.id"
            @click="option.enabled = !option.enabled"
          >
            <v-list-item-action>
              <v-checkbox
                v-model="option.enabled"
                @click.prevent
              />
            </v-list-item-action>

            <v-list-item-content @click.prevent>
              <v-list-item-title>{{ categories.names[option.id] }}</v-list-item-title>
            </v-list-item-content>

            <v-list-item-action>
              <v-icon class="handle">
                reorder
              </v-icon>
            </v-list-item-action>
          </v-list-item>
        </draggable>
      </v-list>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn
        text
        @click="$root.$emit('close-settings')"
      >
        Close
      </v-btn>
      <v-btn
        text
        @click="$root.$emit('save-settings')"
      >
        Save
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { DailyGroup, DisplayMode } from '../lib/settings'
import draggable from 'vuedraggable'

export default {
  components: {
    draggable
  },
  data () {
    return {
      dark: true,
      displayMode: {
        options: [
          {
            id: DisplayMode.SHOW_ALL,
            title: 'Show all dailies',
            subtitle: 'All dailies will always be visible.'
          },
          {
            id: DisplayMode.HIGHLIGHT_MINE,
            title: 'Highlight my dailies',
            subtitle: 'Dailies you can\'t access will be greyed out, but still visible and copyable.'
          },
          {
            id: DisplayMode.ONLY_MINE,
            title: 'Show only my dailies',
            subtitle: 'Dailies you can\'t access will be hidden entirely.'
          }
        ],
        active: DisplayMode.SHOW_ALL
      },

      accountAccess: {
        hot: true,
        pof: true,
        eod: true,
        maxCharLevel: 80
      },

      categories: {
        names: {
          [DailyGroup.PVE]: 'PvE',
          [DailyGroup.FRACTALS]: 'Fractals',
          [DailyGroup.PVP]: 'PvP',
          [DailyGroup.WVW]: 'WvW',
          [DailyGroup.STRIKES]: 'Strikes'
        },
        options: [
          {
            id: DailyGroup.PVE,
            enabled: true
          },
          {
            id: DailyGroup.FRACTALS,
            enabled: true
          },
          {
            id: DailyGroup.PVP,
            enabled: true
          },
          {
            id: DailyGroup.WVW,
            enabled: true
          },
          {
            id: DailyGroup.STRIKES,
            enabled: true
          }
        ]
      }
    }
  },
  methods: {
    getSettings () {
      return {
        version: 2,
        dark: this.dark,
        displayMode: this.displayMode.active,
        accountAccess: {
          hot: this.accountAccess.hot,
          pof: this.accountAccess.pof,
          eod: this.accountAccess.eod,
          maxCharLevel: this.accountAccess.maxCharLevel
        },
        categories: this.categories.options.map((o) => {
          return {
            id: o.id,
            enabled: o.enabled
          }
        })
      }
    },

    setSettings (settings) {
      this.dark = settings.dark
      this.displayMode.active = settings.displayMode
      this.accountAccess.hot = settings.accountAccess.hot
      this.accountAccess.pof = settings.accountAccess.pof
      this.accountAccess.eod = settings.accountAccess.eod
      this.accountAccess.maxCharLevel = settings.accountAccess.maxCharLevel
      this.categories.options = settings.categories.map((o) => Object.assign({}, o))
    }
  }
}
</script>

<style>
.ghost {
  opacity: 0.5;
}
</style>
