<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawerOpen"
      app
      temporary
    >
      <template #prepend>
        <v-list-item two-line>
          <v-list-item-avatar>
            <v-icon>mdi-help-circle</v-icon>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>gw2.tools</v-list-item-title>
            <v-list-item-subtitle>Version {{ $root.version }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-divider />
      </template>

      <v-list dense>
        <v-list-item
          link
          @click="showSettings"
        >
          <v-list-item-icon>
            <v-icon>settings</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Settings</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <template #append>
        <v-list dense>
          <v-subheader>DEVELOPED BY</v-subheader>

          <v-list-item>
            <v-list-item-avatar>
              <img src="https://www.gravatar.com/avatar/69e3162e5c16812a9540db32f1ff9cec.jpg">
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title>K900</v-list-item-title>
              <v-list-item-subtitle>MehWhatever.1248</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-subheader>BASED ON DATA FROM</v-subheader>

          <v-list-item
            link
            href="https://heya.im/"
            target="_blank"
          >
            <v-list-item-icon>
              <v-icon>mdi-paw</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Stomp Agenda</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item
            link
            href="https://reddit.com/r/GuildWars2"
            target="_blank"
          >
            <v-list-item-icon>
              <v-icon>mdi-reddit</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>/r/GuildWars2</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-subheader>FIND US ON</v-subheader>

          <v-list-item
            link
            href="https://gitlab.com/gw2tools/gw2tools"
            target="_blank"
          >
            <v-list-item-icon>
              <v-icon>mdi-gitlab</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>GitLab</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item
            link
            href="https://discord.gg/PZwaU9K"
            target="_blank"
          >
            <v-list-item-icon>
              <v-icon>mdi-discord</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Discord</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item
            link
            href="https://t.me/k900x"
            target="_blank"
          >
            <v-list-item-icon>
              <v-icon>mdi-telegram</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Telegram</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </template>
    </v-navigation-drawer>

    <v-app-bar
      app
      hide-on-scroll
    >
      <v-app-bar-nav-icon @click="drawerOpen = true" />

      <v-toolbar-title>
        gw2.tools
      </v-toolbar-title>

      <v-spacer />

      <v-btn
        icon
        @click="showSettings"
      >
        <v-icon>settings</v-icon>
      </v-btn>

      <template #extension>
        <v-tabs
          v-model="active"
          align-with-title
        >
          <v-tab key="today">
            Today
          </v-tab>
          <v-tab key="tomorrow">
            Tomorrow
          </v-tab>
        </v-tabs>
      </template>
    </v-app-bar>

    <v-main>
      <v-tabs-items v-model="active">
        <v-tab-item key="today">
          <daily-tab
            ref="today"
            url="https://api.guildwars2.com/v2/achievements/daily"
            date="today"
          />
        </v-tab-item>

        <v-tab-item key="tomorrow">
          <daily-tab
            ref="tomorrow"
            url="https://api.guildwars2.com/v2/achievements/daily/tomorrow"
            date="tomorrow"
          />
        </v-tab-item>
      </v-tabs-items>

      <v-tooltip left>
        <template #activator="{ on }">
          <v-btn
            fab
            fixed
            bottom
            right
            color="accent"
            v-on="on"
            @click="copyAll"
          >
            <v-icon color="white">
              content_copy
            </v-icon>
          </v-btn>
        </template>
        Copy all
      </v-tooltip>
    </v-main>

    <v-dialog
      v-model="settingsVisible"
      persistent
      eager
      scrollable
      max-width="600"
    >
      <settings ref="settings" />
    </v-dialog>

    <v-snackbar
      v-model="snackbarVisible"
      :timeout="1000"
      app
      bottom
    >
      {{ snackbarText }}
      <template #action="{ attrs }">
        <v-btn
          text
          v-bind="attrs"
          @click="snackbarVisible = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </v-app>
</template>

<script>
import DailyTab from './components/DailyTab.vue'
import Settings from './components/SettingsWindow.vue'

export default {
  components: {
    DailyTab,
    Settings
  },
  data () {
    return {
      active: 0,
      drawerOpen: false,
      snackbarVisible: false,
      snackbarText: '',
      settingsVisible: false
    }
  },
  mounted () {
    this.$root.$on('show-snackbar', (evt) => {
      this.snackbarText = evt.message
      this.snackbarVisible = true
    })

    this.$root.$on('show-settings', () => {
      this.showSettings()
    })

    this.$root.$on('close-settings', () => {
      this.settingsVisible = false
    })

    this.$root.$on('save-settings', () => {
      this.settingsVisible = false

      const settings = this.$refs.settings.getSettings()
      this.$root.$vuetify.theme.dark = settings.dark
      this.$root.settings = settings
    })
  },
  methods: {
    showSettings () {
      this.$refs.settings.setSettings(this.$root.settings)
      this.drawerOpen = false
      this.settingsVisible = true
    },
    copyAll () {
      const name = ['today', 'tomorrow'][this.active]
      this.$refs[name].copyAll()
    }
  }
}
</script>

<!--
  Vuetify sets tab contents to use the content (read: card) background color by default,
  which makes the cards blend into the background on the dark theme, which looks terrible.

  There's no setting to stop it from doing that, so just yeet the style out of the window.

  The light theme is unaffected, because both cards and the background are #ffffff anyway.
-->
<style>
.v-tabs-items {
  background-color: inherit !important;
}
</style>
